<!DOCTYPE html>
<html>
<body>

<h1>CelebStock</h1>
<h2>Admin</h2>
<a href="/all">All</a>
<a href="/admin">Admin</a>

<form action="/freshstart" method="post">
    <div>
        <input type="submit" value="Fresh start"/>
    </div>
</form>

<form action="/fetchandupdate" method="post">
    <div>
        <input type="submit" value="Fetch and update"/>
    </div>
</form>

<p>Scheduled task to run every hour at half past.</p>


</body>
</html>