<!DOCTYPE html>
<html>
<body>

<h1>CelebStock</h1>
<h2>Admin</h2>
<a href="/all">All</a>
<a href="/admin">Admin</a>

<form action="/overwriteall" method="post">
    <div>
        <input type="submit" value="Delete DB, fetch and update"/>
    </div>
</form>

<form action="/clearall" method="post">
    <div>
        <input type="submit" value="Delete DB"/>
    </div>
</form>

<form action="/fetchandupdate" method="post">
    <div>
        <input type="submit" value="Fetch and update"/>
    </div>
</form>


</body>
</html> 